<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Configuración de los manejadores (Handlers) -->
        <handlers>
            <add name="Django Handler" path="*" verb="*, PATCH" modules="FastCgiModule" scriptProcessor="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Scripts\python.exe|C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>

        <!-- Configuración de seguridad y filtrado de solicitudes (Request Filtering) -->
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="true" />
                    <add verb="PATCH" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>

        <!-- Configuración de encabezados personalizados para CORS -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://servicesgrupoiap.ddns.net:83" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, PATCH, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
            </customHeaders>
        </httpProtocol>

        <!-- Configuración de FastCGI -->
        <fastCgi>
            <application fullPath="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Scripts\python.exe" arguments="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Lib\site-packages\wfastcgi.py">
                <environmentVariables>
                    <!-- Reemplaza 'nombre_del_proyecto' con el nombre de tu proyecto Django -->
                    <environmentVariable name="DJANGO_SETTINGS_MODULE" value="LlantasEcommerce.settings" />
                    <environmentVariable name="PYTHONPATH" value="C:\Users\GRUPO\Downloads\llantas-main;C:\Users\GRUPO\Downloads\llantas-main\LlantasEcommerce" />
                    <environmentVariable name="WSGI_HANDLER" value="LlantasEcommerce.wsgi.application" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
