<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Scripts\python.exe|C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Scripts\python.exe" arguments="C:\Users\GRUPO\Downloads\llantas-main\VirtEnv\Lib\site-packages\wfastcgi.py">
                <environmentVariables>
                    <!-- Reemplaza 'nombre_del_proyecto' con el nombre de tu proyecto Django -->
                    <environmentVariable name="DJANGO_SETTINGS_MODULE" value="LlantasEcommerce.settings" />
                    
		    <environmentVariable name="PYTHONPATH" value="C:\Users\GRUPO\Downloads\llantas-main;C:\Users\GRUPO\Downloads\llantas-main\LlantasEcommerce" />

                    <environmentVariable name="WSGI_HANDLER" value="LlantasEcommerce.wsgi.application" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
